body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subject {
  text-align: left;

  color: #000000;
}

.pic {
  margin: 0;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.list-style {
  list-style: none;
}


.text {
  font-style: normal;
  font-weight: 400;
  font-size: 1px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  hyphens: auto;
  white-space: pre-line;
}

.subject-caption {
  margin-right: 50px;
  color: #000000;
}

.caption {

  text-align: center;
}

.blockquote { color: aqua;
  white-space: pre-line;
  text-align:center

}
